body{
    font-family: Proxima Nova,Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    margin: 0px !important;
    width:100% !important;
}
.navbar-brand{
    margin-right: 10px;
    margin-left: 100px; 
    float: left;
}
.nav-sons{
    padding-left: 250px;
    font-family: Proxima Nova;
}
h4{
    text-align: start;
    color: #222;
    font-family: Proxima Nova,Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 1.4;
    margin-bottom: .5rem;
    margin-top: .2rem;
    width:100%;
    position:relative;
    left:-110px;  
}
h6{
    text-align: start;
    color: #222;
    font-family: Proxima Nova,Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 1.4;
    margin-bottom: .5rem;
    margin-top: .5rem;
    width:100%;
    position:relative;
    left:-110px;  
}
.form{
    width: 80% !important;
}
.btns{
    width:39%;
    border-radius:2px;
}
.mid-bar{
    background: linear-gradient(180deg, #EEF2F5, #ffffff);
    height:100px;
}
.blacky{
    background-color: #414042;
}
.footer_text{
    color:#D3D6D8;
    margin-top: 100px;
    margin-bottom: 20px;
}
.footer_text a{
    color:#D3D6D8;
    font-size:16px;
    text-decoration: none;
}
.bar_btn{
    background-color: green;
    width:300px;
    height: 50px;
    margin-top: 14px;
    position: absolute;
    padding: 6px 10px 6px 10px;
}
small{
    font-size: 0.7rem;
}
.form-group{
    font-family: inherit;
}
label{
    font-size: 0.9rem;
    font-family: Proxima Nova, Lato, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}
label a{
    text-decoration: none;
    color: #43B02A;
}
label a:hover{
    text-decoration: none;
    color: #43B02A;
}
.list_heads{
    color: #D3D6D8;
    font-weight:600;
    font-family: Proxima Nova,Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}
.list_links a{
    color: #D3D6D8;
    text-decoration: none;
    font-weight: 100;
}
.list_links a:hover{
    color: #707579;
}
.list-inline > li{
    background-color: white;
    width:30px;
    height:30px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.list-inline > li a{
    color: #414042;
}
.btn-success{
    background-color: #43B02A;
}
#mb-btn{
    width: 350px;
}
.bg-light{
    background-color:#ffffff !important;
    border-bottom: 1px solid #F6F6F6;
}
#sign-in{
    border: 1px solid #94D090;
    background-color: #C6E7BF;
    color: white;
}
#sign-up:hover{
    background-color:#43B02A;

}
a.nav-link{
    color:#414042 !important;
}
a.nav-link:hover{
    color:#43B02A !important;
}
 .search-bar{
    width: 95%;
    position: relative;
    left:80px;
}
#button-addon2{
    background-color: #43B02A;
}
h4{
    font-size: 1.4rem;
    font-family:  Proxima Nova,Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif; 
    margin-left: 70px;
    padding-left: 60px;
    text-align: start;  
}
h6{
    font-size: 1rem;
    font-family:  Proxima Nova,Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif; 
    margin-left: 70px;
    padding-left: 60px;
    text-align: start; 
}
.toggler{
    font-size:0.78rem;
    font-weight:720;
    color:#98A4B8;
    margin-top:10px;
    float: right;
}

/* Media Querries  */
@media (max-width: 640px) {
    .search-bar{
        display:none;
        width:10%;
        margin:0px !important;
        margin-left: 0px !important;
        margin-right: 0px;
        padding:0px;
    }
    .navbar-brand{
        position:relative;
        right:110px;
        bottom:5px;    
    }
    .navbar-toggler{
        position:relative;
        right:-35px;
        bottom:-4px;         
    }
     .Img-logo{
        width: 300px !important;
        height: 220px !important;
        padding-top:20px;
        margin-right:120px;
     }
     h4{
        font-size:1rem;
        width: 200%;
        margin-left:100px;
        padding-left:0px;
     }
     h6{
        font-size:0.95rem;
        width:180%;
        margin-left:100px;
        padding-left:0px;
    }
    #right{
        align-items: end;
    }
    .form{
        width:105% !important;
    }
    .btns{
        width:48%;
    }
    ::placeholder{
        font-size:0.8rem;
        }
     .base-list{
         display:block;
         padding-left: 14px;
         padding-top:15px;
         font-size: 0.9rem;
     }
     .listy{
         width:150px;
     }
     .footer_text{
        color:#D3D6D8;
        margin-top: 30px;
        margin-bottom: 20px;
        }
} 
@media only screen and (min-width: 640.1px) and (max-width: 991.9px) {
    .navbar-brand{
        position:relative;
        right:110px;
        bottom:5px;    
    }
    .navbar-toggler{
      float: right;
    }
    .left{
        float:left;
        width:45%;
        position: relative;
        left: -65px;
    }
    #right{
        float: right;
        width:45%; 
        position: relative;
        left:65px;  
    }
    h4{
        font-size:1.4rem;
        width: 115%;
        margin-right:-20px;
        margin-left:160px;
        padding-left:3px;
     }
     h6{
        font-size:0.95rem;
        width:100%;
        margin-right:-20px;
        margin-left:160px;
        padding-left:3px;
    }
    .list_heads{
        margin-bottom:10px;
    }
    .list-inline{
        width:95%;
    }
    .footer_text{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .search-bar{
        width: 125%;
        margin-left:-35px !important;
        padding-left:-5px;
        padding-right:25px;
    }
}